@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* --убрать точки из списка */
}

p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .conteiner {
    width: 1280px;
  }
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #303030;
  font-family: Open Sans, normal;
  font-size: 18px;
}

.services-button, .best .button, .footer-button, .mobile .button {
  padding: 12px 20px;
  border-radius: 25px;
  border: 1px solid #FF6C00;
  text-align: center;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  display: inline-block;
  cursor: pointer;
}
.services-button:hover, .best .button:hover, .footer-button:hover, .mobile .button:hover,
.services-button :focus,
.best .button :focus,
.footer-button :focus,
.mobile .button :focus {
  background-color: #FF6C00;
}

.social {
  position: relative;
  width: 155px;
  height: 680px;
  padding-left: 55px;
}
.social-logotip {
  position: absolute;
  top: 32px;
  width: 69px;
  height: 56px;
}
.social-logotip .logo {
  display: block;
}
.social-one {
  position: absolute;
  top: 370px;
  right: 58px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.social-two {
  position: absolute;
  top: 468px;
  right: 58px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.social-two::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #303030;
  top: -100px;
  left: 10px;
}
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.2em;
  color: #303030;
}
.social-link:hover, .social-link:focus {
  color: #FF6C00;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav {
  background-image: url(/img/hero_3@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1125px;
  height: 680px;
  position: relative;
  right: 0;
  padding: 40px 55px 40px 40px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  margin-right: 322px;
}
.site-nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.site-nav .list:not(:first-child) {
  margin-left: 40px;
}
.site-nav .link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.site-nav .link:hover,
.site-nav .link :focus {
  color: #FF6C00;
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  height: 48px;
}
.mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-list:not(:last-child) {
  margin-right: 40px;
}
.mobile-link {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.mobile-link:hover,
.mobile-link :focus {
  color: #FF6C00;
}
.mobile .button {
  color: #ffffff;
}

.header-text {
  position: absolute;
  left: 100px;
  top: 272px;
}
.header-text .paragraph {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 80px;
  color: rgba(157, 164, 189, 0.6);
}
.header-text .paragraph::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: rgba(157, 164, 189, 0.6);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -23px;
  left: 30px;
}
.header-text .title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.header-text .offer {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.overfloy {
  background-image: url(/img/hero_1@2x.jpg);
  background-repeat: no-repeat;
  background-position: 160% 0%;
  background-size: contain;
  background-color: #191c26;
  max-width: 1600px;
  height: 644px;
  margin: auto;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 130px 55px;
}
.footer-name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  margin-bottom: 44px;
}
.footer-name:hover .footer-label {
  cursor: pointer;
  color: #ffffff;
}
.footer-mobile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
}
.footer-mobile:hover .footer-label {
  cursor: pointer;
  color: #ffffff;
}
.footer-form {
  position: relative;
}
.footer-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
  color: #ffffff;
}
.footer-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-input {
  position: relative;
  outline: none;
  color: #ffffff;
  background-color: #191c26;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  width: 265px;
  height: 24px;
}
.footer-input:hover, .footer-input:focus {
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
}
.footer-input:focus + .footer-label {
  color: #ffffff;
}
.footer .footer-input:not(:-moz-placeholder-shown) + .footer-label {
  transform: translateY(-190%);
}
.footer .footer-input:not(:-ms-input-placeholder) + .footer-label {
  transform: translateY(-190%);
}
.footer-input:focus + .footer-label,
.footer .footer-input:not(:placeholder-shown) + .footer-label {
  -webkit-transform: translateY(-190%);
          transform: translateY(-190%);
}
.footer-label {
  position: absolute;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  left: 0px;
  color: rgba(157, 164, 189, 0.4);
}
.footer .textarea {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
}
.footer .textarea:hover .textarea-label {
  cursor: pointer;
  color: #ffffff;
}
.footer .textarea-input {
  outline: none;
  resize: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  width: 560px;
  height: 76px;
  color: #ffffff;
  background-color: #191c26;
}
.footer .textarea-input:hover, .footer .textarea-input:focus {
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
}
.footer .textarea-input:focus + .textarea-label {
  color: #ffffff;
}
.footer .textarea .textarea-input:not(:-moz-placeholder-shown) + .textarea-label {
  transform: translateY(-190%);
}
.footer .textarea .textarea-input:not(:-ms-input-placeholder) + .textarea-label {
  transform: translateY(-190%);
}
.footer .textarea-input:focus + .textarea-label,
.footer .textarea .textarea-input:not(:placeholder-shown) + .textarea-label {
  -webkit-transform: translateY(-190%);
          transform: translateY(-190%);
}
.footer .textarea-label {
  position: absolute;
  left: 0px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.footer-button {
  color: #ffffff;
  width: 160px;
}
.footer .adres-paragraph {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
  color: #ffffff;
}
.footer .adres-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
.footer .adres-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  margin-top: 20px;
  color: #9DA4BD;
}
.footer .adres-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  margin-top: 20px;
  color: #9DA4BD;
}
.footer .adres .connection {
  margin-right: 16px;
}
.footer .adres-text {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 70px;
  left: 80px;
  color: #ffffff;
}
.footer .adres-text::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: rgba(157, 164, 189, 0.6);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -23px;
  left: -50px;
}
.footer .adres-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  margin-top: 20px;
  color: #9DA4BD;
}
.footer-social {
  position: absolute;
  top: 644px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 56px 55px;
}
.footer-social .copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-social .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.footer-social .links::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #303030;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -17px;
  left: -60px;
}
.footer-social .links-item:not(:last-child) {
  margin-right: 40px;
}
.footer-social .links .inter {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.footer-social .links .inter:hover, .footer-social .links .inter:focus {
  color: #FF6C00;
}

.best {
  padding: 130px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.best-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.best-item:not(:last-child) {
  margin-right: 30px;
}
.best-text {
  max-width: 500px;
}
.best .button {
  color: black;
}
.best-paragraph {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.25;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  padding-left: 80px;
  margin-bottom: 20px;
}
.best-paragraph::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -23px;
  left: 30px;
}
.best-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}
.best-call {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
.best-command {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.services {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.1)), to(rgba(17, 19, 25, 0.1))), url(/img/hero_2@2x.jpg);
  background-image: linear-gradient(rgba(17, 19, 25, 0.1), rgba(17, 19, 25, 0.1)), url(/img/hero_2@2x.jpg);
  background-color: #111319;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: auto;
}
.services-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color: white;
}

.section {
  padding: 130px 55px;
}
.section-text {
  position: relative;
  margin: 0px 0px 20px 0px;
  padding-left: 80px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.section-text::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: rgba(157, 164, 189, 0.6);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -23px;
  left: 30px;
}
.section-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
  color: #FFFFFF;
}
.section .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section .price-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 40px;
  text-align: center;
  width: 585px;
  height: 240px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.section .price-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 40px;
  text-align: center;
  width: 585px;
  height: 240px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090B13), to(rgba(9, 11, 19, 0.2)));
  background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.section .price .price-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
.section .price .price-list:not(:last-child) {
  margin-bottom: 20px;
}

.pros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 130px 55px;
}
.pros-item {
  width: 170px;
  height: 133px;
  background-color: #F7F7F7;
  padding: 20px;
  text-align: center;
  margin: 15px;
}
.pros-item.pad {
  position: relative;
  top: 35px;
}
.pros-item .numbers {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
  color: #303030;
}
.pros-item .numbers .plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  vertical-align: top;
  color: #FF6C00;
}
.pros-item .paragraph {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
.pros-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  max-width: 400px;
}
.pros-two {
  max-width: 500px;
}

.title-two {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
  padding-left: 85px;
}
.title-two::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -23px;
  left: 30px;
}

.subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}

.call {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #555555;
}

.comand {
  padding: 130px 55px;
}
.comand-text {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-left: 80px;
}
.comand-text::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -23px;
  left: 30px;
}
.comand-paragraph {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
  color: #303030;
}
.comand-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comand-list .master-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 30px;
}
.comand-list .master-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 8px;
  color: #FF6C00;
}
.comand .messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.comand .messengers-list:not(:last-child) {
  margin-right: 10px;
}
.comand .messengers-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #303030;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.comand .messengers-link:hover, .comand .messengers-link :focus {
  fill: #FF6C00;
}

.color-style {
  background-color: #F7F7F7;
}

.portfolio {
  padding-top: 130px;
  padding-bottom: 130px;
}
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 44px;
}
.portfolio-text {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 80px;
  color: #303030;
}
.portfolio-text::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -23px;
  left: 30px;
}/*# sourceMappingURL=main.css.map */