.overfloy {
  background-image: url(/img/hero_1@2x.jpg);
  background-repeat: no-repeat;
  background-position: 160% 0%;
  background-size: contain;
  background-color: #191c26;
  max-width: 1600px;
  height: 644px;

  margin: auto;
}

.footer {
  display: flex;
  justify-content: space-between;

  position: relative;

  padding: 130px 55px;

  &-name {
    position: relative;
    display: flex;

    margin-right: 30px;
    margin-bottom: 44px;

    &:hover .footer-label {
      cursor: pointer;
      color: #ffffff;
    }
  }

  &-mobile {
    position: relative;
    display: flex;

    margin-bottom: 44px;

    &:hover .footer-label {
      cursor: pointer;
      color: #ffffff;
    }
  }

  &-form {
    position: relative;
  }

  &-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    margin-bottom: 44px;

    color: #ffffff;
  }

  &-data {
    display: flex;
  }

  &-input {
    position: relative;
    outline: none;

    color: #ffffff;
    background-color: #191c26;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);

    width: 265px;
    height: 24px;

    &:hover,
    &:focus {
      cursor: pointer;
      border-bottom: 1px solid #ffffff;
    }

    &:focus + .footer-label {
      color: #ffffff;
    }
  }

  &-input:focus + .footer-label,
  .footer-input:not(:placeholder-shown) + .footer-label {
    transform: translateY(-190%);
  }

  &-label {
    position: absolute;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    left: 0px;

    color: rgba(157, 164, 189, 0.4);
  }

  .textarea {
    position: relative;
    display: flex;

    margin-bottom: 44px;

    &:hover .textarea-label {
      cursor: pointer;
      color: #ffffff;
    }

    &-input {
      outline: none;
      resize: none;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid rgba(157, 164, 189, 0.4);

      width: 560px;
      height: 76px;

      color: #ffffff;
      background-color: #191c26;

      &:hover,
      &:focus {
        cursor: pointer;
        border-bottom: 1px solid #ffffff;
      }

      &:focus + .textarea-label {
        color: #ffffff;
      }
    }

    &-input:focus + .textarea-label,
  .textarea-input:not(:placeholder-shown) + .textarea-label {
    transform: translateY(-190%);
  }

    &-label {
      position: absolute;
      left: 0px;

      font-weight: 600;
      font-size: 11px;
      line-height: 1.36;

      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: rgba(157, 164, 189, 0.4);
    }
  }

  &-button {
    @extend %button;

    color: #ffffff;
    width: 160px;
  }

  .adres {
    &-paragraph {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 42px;
      line-height: 1.16;
      letter-spacing: 0.05em;

      margin-bottom: 40px;

      color: #ffffff;
    }

    &-link {
        display: flex;
        align-items: center;

      font-weight: 400;
      font-size: 18px;
      line-height: 1.66;

      letter-spacing: 0.02em;

      color: $color-auxiliary;

    }

    &-tel {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.66;

      letter-spacing: 0.02em;

      margin-top: 20px;

      color: $color-auxiliary;
    }

    &-mail {
      display: flex;
      align-items: center;
      
      font-weight: 400;
      font-size: 18px;
      line-height: 1.66;

      letter-spacing: 0.02em;

      margin-top: 20px;

      color: $color-auxiliary;
    }

    .connection {
        margin-right: 16px;
      }

    &-text {
      position: relative;
      font-weight: 600;
      font-size: 11px;
      line-height: 1.36;

      letter-spacing: 0.1em;
      text-transform: uppercase;

      margin-top: 70px;
      left: 80px;

      color: #ffffff;

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 60px;
        background-color: rgba(157, 164, 189, 0.6);

        transform: rotate(90deg);

        top: -23px;
        left: -50px;
      }
    }

    &-time {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.66;

      letter-spacing: 0.02em;

      margin-top: 20px;

      color: $color-auxiliary;
    }
  }

  &-social {
    position: absolute;

    top: 644px;
    left: 0px;

    display: flex;
    justify-content: space-between;

    padding: 56px 55px;

    .copyright {
      font-weight: 600;
      font-size: 11px;
      line-height: 1.36;

      letter-spacing: 0.2em;

      color: #9da4bd;
    }

    .links {
        display: flex;
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: 60px;
            background-color: #303030;
    
            transform: rotate(90deg);
    
            top: -17px;
            left: -60px;
          }

    &-item:not(:last-child) {
margin-right: 40px;
    }

    .inter {
        font-weight: 600;
font-size: 11px;
line-height: 1.36;

letter-spacing: 0.2em;

color: #303030;

&:hover,
&:focus {
    color: $color-hover;
}
    }

    }
  }
}
