.social {
    position: absolute;
    width: 155px;
    height: 680px;
  
    .logo {
      display: block;
      margin: 32px 0px 282px 55px;
    }
  
    &-list {
      writing-mode: tb-rl;
      margin-top: 40px;
      margin-left: 85px;
      transform: rotate(180deg);
  }
  
  &-link {
      font-weight: 600;
      font-size: 11px;
      line-height: 1.36px;
      letter-spacing: 0.2em;
  
      color: #303030;
  
      &:hover,
      &:focus {
        color: $color-hover;
      }
    }
  }

.header-nav {
  background-image: url(/img/hero_3@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  max-width: 1125px;
  height: 680px;

  position: relative;
  right: 0;
  padding-left: 55px;
  padding-right: 55px;
  margin-left: auto;
}



.site-nav {
  display: flex;
  padding-top: 52px;

  .list {
    margin-left: 40px;

    color: white;

    }

    .link {
      font-weight: 600;
      font-size: 12px;
      line-height: 1.33px;
      letter-spacing: 0.1em;
      color: #ffffff;

    &:hover,
      :focus {
        color: $color-hover;
      }
    }
  }


.mobile {
  display: flex;
  margin-left: auto;

  &-list {
    padding-top: 52px;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &-link {
    position: relative;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33px;
    letter-spacing: 0.1em;
    color: #ffffff;

    &:hover,
    :focus {
      color: $color-hover;
    }
  }

  &-item {
    padding-top: 40px;
  }

  .button {
    @extend %button;

    color: #ffffff;
}
}
.header-text {
  position: absolute;

  left: 100px;
  top: 272px;

.paragraph {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
  
    letter-spacing: 0.1em;
    text-transform: uppercase;

    padding-left: 80px;
  
    color: rgba(157, 164, 189, 0.6);

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 60px;
      background-color: rgba(157, 164, 189, 0.6);
  
      transform: rotate(90deg);
  
      top: -23px;
      left: 30px;
    }
  }

.title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
  
    letter-spacing: 0.05em;
  
    color: #ffffff;

  }

.offer {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
  
    letter-spacing: 0.02em;
  
    color: $color-auxiliary;
  }
}

