%button {
padding: 12px 20px;
border-radius: 25px;
border: 1px solid $color-hover;
text-align: center;

background-color: transparent;

font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
display: inline-block;
cursor: pointer;

&:hover,
:focus {
  background-color: $color-hover;
}
}